:root {
  --yellow: #ffc600;
  --black: #272727;
}

html {
  box-sizing: border-box;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
