:root {
  --yellow: #ffc600;
  --black: #272727;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


h1 {
  font-family: 'Old Standard TT', serif;
  font-style: normal;
  font-size: 8em;
  color: #44555f7a;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 7em;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 0.85;
  text-transform: none;
  color: #44555F;
}

h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2.5em;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 0.85;
  text-transform: none;
  color: #44555F;
}

p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  line-height: 1.75;
  color: #44555f8a;
}

header {
  margin: 4em;
}

blockquote {
  font-family: 'Old Standard TT', serif;
  font-style: italic;
  letter-spacing: 0.2em;
  font-size: 1.3em;
  color: #44555fd6;
  padding: 2em;
  margin: 0.5em;
  border-top: 1px solid #44555f7a;
  border-bottom: 1px solid #44555f7a;
}

.container {
  width: 80%;
  margin: 0 auto;
}

span.author {
  font-style: initial;
}

div.about {
  border-top: 1px solid #44555f7a;
}
